<table width="600" class="table-{{ type }}" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td class="mobile-pad">
			<p class="paragraph-bg">Email templates done for Campaign Monitor, Marketo and Mailchimp.</p>
			<p class="paragraph-bg">Click on each logo for samples of my work.</p>
		</td>
	</tr>
	<tr>
		<td>
			<table width="580" id="rowPortfolio" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td width="193" class="block">
						<a href="campaign-monitor.html" target="_blank"><img src="img/campaign-monitor.jpg" alt="Land O'Lakes - Campaign Monitor"></a>
						{{!-- <p class="paragraph-bg">Campaign Monitor</p> --}}
					</td>
					<td width="193" class="block">
						<a href="marketo.html" target="_blank"><img src="img/marketo.jpg" alt="Corbion - Marketo"></a>
						{{!-- <p class="paragraph-bg">Marketo</p> --}}
					</td>
					<td width="193" class="block">
						<a href="mailchimp.html" target="_blank"><img src="img/mailchimp.jpg" alt="TuneIn - MailChimp"></a>
						{{!-- <p class="paragraph-bg">MailChimp</p> --}}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>