<table width="600" class="table-{{ type }}" cellpadding="0" cellspacing="0" border="0" align="center"> 
	<tr>
		<td>
			<table width="450" id="rowSkills" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td class="block">
						<p class="paragraph">Email Consultant</p>
						<img src="img/advance-progress-bar.jpg">
					</td>
					<td class="block">
						<p class="paragraph">Email Developer</p>
						<img src="img/advance-progress-bar.jpg">
					</td> 
				</tr>
				<tr>
					<td class="block">
						<p class="paragraph">Email Testing</p>
						<img src="img/advance-progress-bar.jpg">
					</td>
					<td class="block">
						<p class="paragraph">Javascript/PHP/SQL</p>
						<img src="img/intermediate-progress-bar.jpg">
					</td> 
				</tr>
			</table>
		</td>
	</tr>
</table>