<table class="table-{{ type }}" width="350" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td width="50">
			<a href="https://github.com/Vanss472/portfolio-email#vanessa-martinez-portfolio-email-website" target ="_blank" title="GitHub"><img src="img/vanss-github.png" alt="GitHub"></a>
		</td>
		<td width="50">
			<a href="http://codepen.io/vanss472/" target ="_blank" title="CodePen"><img src="img/vanss-codepen.png" alt="CodePen"></a>
		</td>
		<td width="50">
			<a href="https://twitter.com/Vanss472" target ="_blank" title="Twitter"><img src="img/vanss-twitter.png" alt="Twitter"></a>
		</td>
		<td width="50">
			<a href="https://www.instagram.com/vanss472/" target ="_blank" title="Instagram"><img src="img/vanss-instagram.png" alt="Instagram"></a>
		</td>
		<td width="50">
			<a href="http://vsco.co/vanss472/images/1" target ="_blank" title="VSCO"><img src="img/vanss-vsco.png" alt="VSCO"></a>
		</td>
		<td width="50">
			<a href="https://www.linkedin.com/in/vanessa-martinez-7921bb15" target ="_blank" title="LinkedIn"><img src="img/vanss-linkedin.png" alt="LinkedIn"></a>
		</td>
		<td width="50">
			<a href="mailto:vanss472@gmail.com?subject=We Want You!" title="Email Me"><img src="img/vanss-email.png" alt="Email Me"></a>
		</td>
	</tr>
</table>