/* ------------------
	TABLES
------------------- */

// Social Icons
.table-social-icons {
	td {
		padding: 10px 5px 30px 5px; 
	}
}

// About 
.table-about-me {
	text-align: center;
	td {
		padding: 0px 10px 30px 10px;
	}
}

// Email Portfolio
.table-email-portfolio {
	text-align: center;
	td {
		padding: 0px 10px 30px 10px;
	}
}

// Skills
.table-skills { 
	td {
		padding: 0px 10px 30px 10px;
	}
}
