---
layout: default.hbs
subject: Vanessa Martinez HTML Email Developer Portfolio
---
		<tr>
			<td valign="top" align="center" class="bg-header">
				<table width="600" id="rowTable" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td valign="middle" class="header">
							Vanessa Martinez
						</td> 
					</tr>
					<tr>
						<td valign="middle" class="sub-header">
							HTML Email Developer
						</td>
					</tr>
					<tr>
						<td align="center" valign="middle">
							{{> social-icons type='social-icons' }}
						</td>
					</tr>
				</table>
			</td>
		</tr><!-- end of row header --> 
		<tr>
			<td valign="top" align="center" class="bg-white">
				<table width="600" id="rowTable" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td align="center" valign="middle" class="title">
							About Me
						</td>
					</tr>
					<tr>
						<td valign="middle" class="spacer">
							<table width="100" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td width="100" bgcolor="#808080" height="3" class="border-bottom">
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td valign="middle">
							{{> about-me type='about-me' }}
						</td>
					</tr>
				</table>
			</td>
		</tr><!-- end of row about --> 
		<tr>
			<td valign="top" align="center" class="bg-green">
				<table width="600" id="rowTable" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td align="center" valign="middle" class="title-bg">
							Email Portfolio
						</td>
					</tr>
					<tr>
						<td valign="middle" class="spacer">
							<table width="100" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td width="100" bgcolor="#FFFFFF" height="3" class="border-bottom">
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td valign="middle">
							{{> email-portfolio type='email-portfolio' }}
						</td>
					</tr>
				</table>
			</td>
		</tr><!-- end of row portfolio -->
		<tr>
			<td valign="top" align="center" class="bg-white">
				<table width="600" id="rowTable" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td align="center" valign="middle" class="title">
							Email Skills
						</td>
					</tr>
					<tr>
						<td valign="middle" class="spacer">
							<table width="100" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td width="100" bgcolor="#808080" height="3" class="border-bottom">
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td valign="middle">
							{{> skills type='skills' }}
						</td>
					</tr>
				</table>
			</td>
		</tr><!-- end of row skills -->
		<tr>
			<td valign="top" align="center" class="bg-grey">
				<table id="footerTable" width="600" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td valign="middle">
							<p class="paragraph">&copy; Copyright Vanessa Martinez 2017 - All Rights Reserved</p>
						</td>
					</tr> 
				</table>
			</td>
		</tr><!-- end of row footer -->
