<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{ subject }}</title> 
		<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-90089807-1', 'auto');
		ga('send', 'pageview');

		</script>
	</head>
	<body>
		{{!-- Preheader character limits recommend 50-100 characters. --}}
		<div class="preheader">Hi There! Open your email to check Vanessa Martinez HTML Email Developer portfolio.</div>
		<table cellpadding="0" cellspacing="0" border="0" align="center" id="mainTable">
		{{ body }}
		</table>
		<!-- End of wrapper table -->
	</body> 
</html>